@using CommonProject.ViewModels.Person
@model PersonViewModel

<div id="modalPlaceHolder" aria-hidden="true"></div>


<div class="card">
	<div class="card-header">
		<h3>Person Id : #@Model.Id</h3>
	</div>
	<div class="card-body">
		<form id="form-person-update" asp-action="Person" asp-controller="Contact">
			<input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />
			<input type="hidden" asp-for="Id" />
			<div class="form-group">
				<label asp-for="Name"></label>
				<input class="form-control" asp-for="Name" />
				<span class="text-danger" asp-validation-for="Name"></span>
			</div>
			<div class="form-group">
				<label asp-for="Surname"></label>
				<input class="form-control" asp-for="Surname" />
				<span class="text-danger" asp-validation-for="Surname"></span>
			</div>
			<div class="form-group">
				<label asp-for="Company"></label>
				<input class="form-control" asp-for="Company" />
				<span class="text-danger" asp-validation-for="Company"></span>
			</div>
			<div style="margin-top:10px;">
				<button type="submit" class="btn btn-primary btn-block" id="btnUpdate"><span class="fas fa-save"></span> Save</button>
			</div>
		</form>
	</div>
</div>

<div class="card" style="margin-top:20px;">
	<div class="card-body">
		<div>
			<h1>Person Contact List</h1>
			<button id="btn-create-contact" class="btn btn-primary">Create Person Contact </button>
		</div>

		<table class="table" id="person-contact-table">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Conctact Type</th>
					<th scope="col">Description</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model.PersonContacts)
				{
					<tr name="@item.Id">
						<th scope="row">@item.Id</th>
						<td>@item.ContactTypeString</td>
						<td>@item.Description</td>
						<td>
							<button data-id="@item.Id" class="btn btn-secondary btnDetail">Detail</button>
							<button data-id="@item.Id" class="btn btn-danger btnDelete">Delete</button>
						</td>
					</tr>
				}
			</tbody>
		</table>

	</div>
</div>

@section Scripts {
<script>

	$(document).ready(function(){
		// Create Person Contact
		$(function(){
			const url = "/Contact/AddPersonContact/@Model.Id"
			const placeHolderDiv = $('#modalPlaceHolder');
			$("#btn-create-contact").click(function(){
				$.get(url).done(function(data){
					placeHolderDiv.html(data);
					placeHolderDiv.find(".modal").modal("show")
				})
			})
			placeHolderDiv.on("click","#btn-person-contact-save",function(event){
				event.preventDefault();
				const form = $("#form-person-contact-add")
				const actionUrl = form.attr('action');
				const dataToSend = form.serialize();
				$.post(actionUrl,dataToSend).done(function(data){
					const ajaxModel = jQuery.parseJSON(data);
					 var newFormBody = $('.modal-body', ajaxModel.PartialView);
					placeHolderDiv.find('.modal-body').replaceWith(newFormBody);
					var isValid = newFormBody.find('[name="IsValid"]').val() === 'True';
					if(isValid){
						placeHolderDiv.find(".modal").modal("hide");
						const newTableRow =  `
							<tr name='${ajaxModel.Data.Id}'>
								<th scope="row">${ajaxModel.Data.Id}</th>
								<td>${ajaxModel.Data.ContactTypeString}</td>
								<td>${ajaxModel.Data.Description}</td>
								<td>
										<button data-id="${ajaxModel.Data.Id}" class="btn btn-secondary btnDetail">Detail</button>
										<button data-id="${ajaxModel.Data.Id}" class="btn btn-danger btnDelete">Delete</button>
								</td>
							</tr>
						`
						var newTableRowObject = $(newTableRow);
						newTableRowObject.hide();
						$('#person-contact-table').append(newTableRowObject);
						newTableRowObject.fadeIn(3500);
					}
				})
			})
		})
		// Create Person Contact End

		// Update Person Contact
		$(function(){
			const placeHolderDiv = $('#modalPlaceHolder');
			$("#person-contact-table").on("click","td .btnDetail",function(){
				const id = $(this).attr("data-id");
				const url = `/Contact/UpdatePersonContact/${id}`
				$.get(url).done(function(data){
					placeHolderDiv.html(data);
					placeHolderDiv.find(".modal").modal("show")
				})
			})
			placeHolderDiv.on("click","#btn-person-contact-update",function(event){
				event.preventDefault();
				const form = $("#form-person-contact-update")
				const actionUrl = form.attr('action');
				const dataToSend = form.serialize();
				$.post(actionUrl,dataToSend).done(function(data){
					const ajaxModel = jQuery.parseJSON(data);
					 var newFormBody = $('.modal-body', ajaxModel.PartialView);
					placeHolderDiv.find('.modal-body').replaceWith(newFormBody);
					var isValid = newFormBody.find('[name="IsValid"]').val() === 'True';
					if(isValid){
						placeHolderDiv.find(".modal").modal("hide");
						const newTableRow =  `
							<tr name='${ajaxModel.Data.Id}'>
								<th scope="row">${ajaxModel.Data.Id}</th>
								<td>${ajaxModel.Data.ContactTypeString}</td>
								<td>${ajaxModel.Data.Description}</td>
								<td>
									<button data-id="${ajaxModel.Data.Id}" class="btn btn-secondary btnDetail">Detail</button>
									<button data-id="${ajaxModel.Data.Id}" class="btn btn-danger btnDelete">Delete</button>
								</td>
							</tr>
						`
						var newTableRowObject = $(newTableRow);
						var tableRow = $(`[name="${ajaxModel.Data.Id}"]`)
						tableRow.hide();
						tableRow.replaceWith(newTableRow);
						tableRow.fadeIn(3500)
					}
				})
			})
		})

		// Update Person COntact end

		// Delete Person Contact Function
		$(function(){
			$("#person-contact-table").on("click","td .btnDelete",function(){
				const id = $(this).attr("data-id");
				if(confirm("Are you sure to Delete ?")){
					const url = "/Contact/DeletePersonContact"
					const dataToSend = {
						id
					}
					$.post(url,dataToSend).done(function(data){
						if(!data.hasFailed && data.data){
							alert("Person Contact Deleted!!!")
							const tableRow = $(`[name="${id}"]`);
							tableRow.fadeOut(1500);
						}
					})
				}
			})
		})
		// Delete Person Contact Function End
	})

</script>
}